{% extends 'tms/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
    <div class="login layui-anim layui-anim-up">
        <div class="message">x-admin2.0-管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" action="{% url 'tms:login' %}">
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            {% csrf_token %}
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>
    <!-- 底部结束 -->
{% endblock %}